<div class="container">
<div  class="panel panel-info">
    <div ng-show="configAction == 'edit'"  class="panel-heading"><h3 class="panel-title">Modifica Preventivo di Servizio : {{item.id}}</h3></div>
    <div ng-show="configAction == 'new'"  class="panel-heading"><h3 class="panel-title">Creazione nuovo Preventivo di Servizio</h3></div>
    <div ng-show="configAction == 'view'"  class="panel-heading"><h3 class="panel-title">Visualizzazione  Preventivo di Servizio : {{item.id}}</h3></div>
    <div class="panel-body">
<form class="form-horizontal">
    
<fieldset>

<!-- Form Name -->
 <div ng-show="configAction == 'view'">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Id id_servizi</label>
      <div class="col-sm-10">
        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control" ng-model="item.id_servizi">
      </div>
    </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Associazione</label>
  <div class="col-sm-10">
  <select ng-model="item.id_utenti" class="form-control" ng-options="i.id_utenti as i.nome_breve_utenti for i in utentiList"></select>    
  </div>
</div>

<!-- 
<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Volontario</label>
  <div class="col-sm-10">
  <select ng-model="item.id_volontari_servizi" 
          class="form-control" 
          multiple 
          ng-options="i.id_volontari as i.nome_completo_volontari for i in volontariList"></select>    
  </div>
</div>
-->
    
<!-- TEST Multi options -->    
    
<!--Test Select2 -->
<div class="form-group">    
  <label class="col-sm-2 control-label" for="textinput">Volontari</label>
  <div class="col-sm-10">
    <select ui-select2 multiple="multiple" ng-model="item.lista_volontari_servizi" data-placeholder="Selezionare i volontari" style="width:400px; " >
        <option ng-repeat="a in volontariList" value="{{a.id}}">{{a.nome_completo_volontari}}</option>
    </select>
    </div>
</div>


<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Data</label>
    <div class="col-sm-10">
        <input type="text" class="col-sm-10 form-control"  
               datepicker-popup="dd/MM/yyyy" 
               ng-model="item.data_servizi" 
               is-open="openedPopupDate" 
               ng-click="popupDate($event)"
               ng-required="true" close-text="Close" />
    </div>
</div>
    
    
<div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Dalle ore</label>
    <div class="col-sm-2">
        <input type="time"  class="col-sm-2  form-control" id="exampleInput" name="input" ng-model="item.da_ora_servizi"   ng-change="timechanged()"  placeholder="HH:mm" min="00:00" max="23:30" required novalidate />
    </div>
    <label class="col-sm-2 control-label" for="textinput">alle ore</label>
    <div class="col-sm-2">
        <input type="time"  class="col-sm-2  form-control" id="exampleInput" name="input" ng-model="item.a_ora_servizi"  ng-change="timechanged()"  placeholder="HH:mm" min="00:00" max="23:30" required novalidate />
    </div>
    <label class="col-sm-1 control-label">{{timeCalculated}}</label>
</div>
        

    
  

<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Località</label>
  <div class="col-sm-10">
    <textarea class="form-control" ng-model="item.note_servizi" rows="3"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Motivazioni</label>
  <div class="col-sm-10">
    <textarea class="form-control" ng-model="item.rapporto_servizi" rows="3"></textarea>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-sm-2 control-label" for="button1id">Azioni</label>
  <div class="col-sm-10">
    <button ng-show="configAction == 'new'" id="salvabutton"  ng-click="save_action(item)"   name="singlebutton" class="btn btn-primary">Salva Elemento</button>
    <button ng-show="(configAction == 'edit') && (id_rapporto_valido_servizio == null) && (item.annullato_servizi == 0)" id="cancelbutton" ng-click="cancel_action(item)" name="button2id"    class="btn btn-danger">Annulla Elemento</button>
    <button ng-show="(configAction == 'edit') && (id_rapporto_valido_servizio != null) && (item.annullato_servizi == 0)" id="cancelbutton" ng-click="goto_relazione_action(id_rapporto_valido_servizio)" name="button2id"    class="btn btn-success">Vai alla Relazione n. {{id_rapporto_valido_servizio}}</button>
    <button ng-show="(configAction == 'edit') && (id_rapporto_valido_servizio == null) && (item.annullato_servizi == 0)" id="rapportobutton" ng-click="new_relazione_action(item.id)" name="button3id"    class="btn btn-success">Crea nuova Relazione di Servizio</button>
    <button ng-show="(item.annullato_servizi == 1)" id="cancelbutton" name="button2id"    class="btn btn-danger">Elemento ANNULLATO - nessuna operazione possibile</button>
  </div>
</div>
    

</fieldset>
    
  <!-- <pre>form = {{item | json}}</pre>  -->
  <!-- <pre>master = {{master | json}}</pre>  -->
  <!-- <pre>timeCalculated = {{ timeCalculated| json}}</pre>  -->
</form>

        
      </div> <!-- panel body -->
</div>
</div>