<ion-view class="" title="Relazione di servizio" left-buttons="leftButtons" right-buttons="rightButtons">

    <!-- This settings page is not fully implemented with volume and toggles but max results is used in the query. It was meant to be
    more of an example of some Ionic components for now -->
    <ion-content has-header="true" padding="true">

     
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
          <button class="button button-icon button-clear ion-search" ng-click="toggleRight()"></button>
        </ion-nav-buttons>
        
        <div class="list">
            
            <div class="item  item-balanced">
                <div ng-show="configAction == 'edit'"  class="panel-heading"><h3 class="panel-title">Modifica Relazione di Servizio : {{item.id}}</h3></div>
                <div ng-show="configAction == 'new'"  class="panel-heading"><h3 class="panel-title">Creazione nuova Relazione di Servizio</h3></div>
                <div ng-show="configAction == 'view'"  class="panel-heading"><h3 class="panel-title">Visualizzazione Relazione di Servizio : {{item.id}}</h3></div>
            </div>
            
            
            <!--
            
            <label class="item item-input item-button-right">
                <span class="input-label">Id id_servizi</span>
                <input type="text"  class="form-control" ng-model="item.id">
                <button class="button button-positive">
                    <i class="icon ion-edit"></i>
                </button>
            </label>
            
            -->

            <!--
            
            <label class="item item-input item-select">
                <div class="input-label">Associazione</div>
                <select  ng-model="item.id_utenti" class="form-control" ng-options="i.id_utenti as i.nome_breve_utenti for i in utentiList"></select>                
            </label>
            
            -->
            
            
              <fancy-select
                    allow-empty='false'
                    label-text="Associazione"
                    value="item.id_utenti"
                    text="item.nome_breve_utenti"
                    header-text="Seleziona utenti"
                    items="utentiList">
            </fancy-select>
        
            

            <fancy-select
                              header-text="Selezione Volontario"
                              label-text="Volontari"
                              allow-empty='false'
                              text="item.elenco_volontari"
                              value="item.elenco_id_volontari"
                              items="volontariList"
                              multi-select="true"            
                              >
            </fancy-select>
            
            
            <!--
            
            <label class="item item-input item-select">
            <div class="input-label">Volontari</div>
            <select  multiple="multiple" ng-model="item.lista_volontari_servizi">
                <option ng-repeat="a in volontariList" value="{{a.id}}">{{a.nome_completo_volontari}}</option>
            </select>
                
            </label>
            
            -->

            <label class="item item-input">
                <div class="input-label">Data Relazione</div>
                <input type="date" 
                        ng-model="item.data_relazioni">
            </label>

      
            
         
            <label class="item item-input">
               <div class="input-label">Dalle ore</div>
              <input type="time"  
                        ng-model="item.da_ora_relazioni" />
            </label>

            <label class="item item-input">
               <div class="input-label">Alle ore</div>
                <input type="time"  
                       ng-model="item.a_ora_relazioni"   />
            </label>
     
       


            <label class="item item-input">
                <span class="input-label">Rapporto</span>
                <input type="text" ng-model="item.rapporto_relazioni">
            </label>

            
            <label class="item item-input">
                <span class="input-label">Auto</span>
                <input type="text" ng-model="item.auto_relazioni">
            </label>

          <label class="item item-input">
                <span class="input-label">Note</span>
                <input type="text" ng-model="item.note_relazioni">
            </label>
            
            <button class="button button-full button-positive" ng-show="configAction == 'new'" id="salvabutton"  ng-click="save_action(item)"   name="singlebutton" class="btn btn-primary">Salva Elemento</button>
            <button class="button button-full button-assertive" ng-show="(configAction == 'edit') && (id_rapporto_valido_servizio == null) && (item.annullato_relazioni == 0)" id="cancelbutton" ng-click="cancel_action(item)" name="button2id"    class="btn btn-danger">Annulla Elemento</button>
            <button class="button button-full button-positive" ng-show="(item.annullato_relazioni == 1)" id="cancelbutton" name="button2id"    class="btn btn-danger">Elemento ANNULLATO - nessuna operazione possibile</button>
      
            
            <button class="button button-full button-positive" id="debugBbutton" name="debugButton" ng-click="debug_action(item)"  class="btn btn-danger">DEBUG</button>
            
            
            

        </div>
    </ion-content>
</ion-view>






<!--

<div class="container">
<div  class="panel panel-success">

    <div ng-show="configAction == 'edit'"  class="panel-heading"><h3 class="panel-title">Modifica Relazione di Servizio : {{item.id}}</h3></div>
    <div ng-show="configAction == 'new'"  class="panel-heading"><h3 class="panel-title">Creazione nuova Relazione di Servizio</h3></div>
    <div ng-show="configAction == 'view'"  class="panel-heading"><h3 class="panel-title">Visualizzazione  Relazione di Servizio : {{item.id}}</h3></div>
    
    <div class="panel-body">

<form class="form-horizontal">
    
<fieldset>

<div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="textinput">Id preventivo</label>
      <div class="col-sm-10">
        <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control" ng-model="item.id_servizi" ng-readonly="true">
      </div>
    </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Associazione</label>
  <div class="col-sm-10">
  <select ng-model="item.id_utenti" class="form-control" ng-options="i.id_utenti as i.nome_breve_utenti for i in utentiList"></select>    
  </div>
</div>

<div class="form-group">    
  <label class="col-sm-2 control-label" for="textinput">Volontari</label>
  <div class="col-sm-10">
    <select ui-select2 multiple="multiple" ng-model="item.lista_volontari_relazioni" data-placeholder="Selezionare i volontari" style="width:400px; " >
        <option ng-repeat="a in volontariList" value="{{a.id}}">{{a.nome_completo_volontari}}</option>
    </select>
    </div>
</div>
    

    

<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Data</label>
    <div class="col-sm-10">
        <input type="text" class="col-sm-10 form-control"  
               datepicker-popup="dd/MM/yyyy" 
               ng-model="item.data_relazioni" 
               is-open="openedPopupDate" 
               ng-click="popupDate($event)"
               ng-required="true" close-text="Close" />
    </div>
</div>
    
    
<div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Dalle ore</label>
    <div class="col-sm-2">
        <input type="time"  class="col-sm-2  form-control" id="exampleInput" name="input" ng-model="item.da_ora_relazioni"   ng-change="timechanged()"  placeholder="HH:mm" min="00:00" max="23:30" required novalidate />
    </div>
    <label class="col-sm-2 control-label" for="textinput">alle ore</label>
    <div class="col-sm-2">
        <input type="time"  class="col-sm-2  form-control" id="exampleInput" name="input" ng-model="item.a_ora_relazioni"  ng-change="timechanged()"  placeholder="HH:mm" min="00:00" max="23:30" required novalidate />
    </div>
    <label class="col-sm-1 control-label">{{timeCalculated}}</label>
</div>
        

<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Rapporto</label>
  <div class="col-sm-10">
    <textarea class="form-control" ng-model="item.rapporto_relazioni" rows="3"></textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Auto</label>
  <div class="col-sm-10">
    <textarea class="form-control" ng-model="item.auto_relazioni" rows="3"></textarea>
  </div>
</div>    
  

<div class="form-group">
  <label class="col-sm-2 control-label" for="textinput">Note</label>
  <div class="col-sm-10">
    <textarea class="form-control" ng-model="item.note_relazioni" rows="3"></textarea>
  </div>
</div>

    
<div class="form-group">
  <label class="col-sm-2 control-label" for="button1id">Azioni</label>
  <div class="col-sm-10">
    <button ng-show="configAction == 'new'" id="salvabutton"  ng-click="save_action(item)"   name="singlebutton" class="btn btn-primary">Salva Elemento</button>
    <button ng-show="(configAction == 'edit') && (id_rapporto_valido_servizio == null) && (item.annullato_relazioni == 0)" id="cancelbutton" ng-click="cancel_action(item)" name="button2id"    class="btn btn-danger">Annulla Elemento</button>
    <button ng-show="(item.annullato_relazioni == 1)" id="cancelbutton" name="button2id"    class="btn btn-danger">Elemento ANNULLATO - nessuna operazione possibile</button>
      
  </div>
</div>
    

</fieldset>

</form>

        
      </div> 
</div>
</div>

-->