<ion-view class="item-calm" title="Elenco relazioni preventive" left-buttons="leftButtons" right-buttons="rightButtons">
    
    <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" >
      <button class="button button-icon ion-more" ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-content has-header="true">
        <div>
            <ion-list>
                <ion-item ng-repeat="item in items" class="item-icon-left">
                  <i ng-show="item.annullato_servizi==1" class="icon ion-close-circled"></i>
                  <i ng-show="item.annullato_servizi==0" class="icon ion-checkmark"></i>
                  <span class="itemTopRight">{{item.data_servizi | date:'dd/MM/yyyy' }}</span>    
                  <p><b>{{item.nome_breve_utenti}}</b></p>
                  <span class="itemTopRight">{{item.da_ora_servizi | date:'HH:mm' }} {{item.a_ora_servizi | date:'HH:mm' }}</span>    
                  <p>{{item.elenco_volontari}} </p>
                  <p>{{item.note_servizi}}</p>
                  <p>{{item.rapporto_servizi }}</p>
                    <ion-option-button class="button-positive"
                       ng-click="editItem(item.id)">
                        Dettagli
                    </ion-option-button>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>      