<form class="form-inline">
  <label class="control-label" for="selectbasic">Select Basic
    <select id="selectbasic" name="selectbasic" class="input-block-level">
      <option>Option one</option>
      <option>Option two</option>
    </select>
  </label>
    
  <input type="text" placeholder="Email">

  <button type="submit" class="btn">Sign in</button>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn">Cancel</button>    
</form>

<div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>

<table class="table table-hover" id="dev-table">    
    <thead>
	   <tr>
		  <th>#</th>
		  <th>First Name</th>
		  <th>Last Name</th>
		  <th>Username</th>
		</tr>
	</thead>
    <tbody>
        <tr ng-repeat='item in reddit.items'>
          <td>{{item.id_servizi}}</td>
          <td>{{item.nome_breve_utenti}}</td>
          <td>{{item.login_utenti}}</td>
          <td>{{item.note_volontari}}</td>
        </tr>
  </tbody>
</table>
    <div ng-show='reddit.busy'>Loading data...</div>
    
</div>  