<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">DETAIL MODAL</h1>
        <button class="button button-clear button-positive" ng-click="closeSortModal()">Chiudi</button>
    </ion-header-bar>
    <ion-content has-header="true">
        <div class="padding">
            
            
            <h1>DETTAGLI!!!!!</h1>
            
            <div class="item item-input-inset">
                <button class="button button-positive" ng-click="saveSort()">Applica filtro</button>
            </div>
        </div>
    </ion-content>
</ion-modal-view>